[Unit]
Description=runs only upon shutdown
Before=shutdown.target reboot.target
Requires=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/dell_monitor.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
