[Unit]
Description=runs only upon shutdown
Requires=network.target
After=network.target
Before=shutdown.target reboot.target halt.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/bin/true
ExecStop=/usr/local/bin/dell_monitor.sh

[Install]
WantedBy=multi-user.target
